body {
  overflow-x: hidden;
}

a:hover, a:focus, a:active {
  text-decoration: none;
}

.stylish-input-group .input-group-addon{
  background: white;
}

.stylish-input-group .form-control{
  border-right:0;
  box-shadow:0 0 0;
  border-color:#ccc;
}

.stylish-input-group button{
  border:0;
  background:transparent;
}

.search__table__table th {
  white-space: nowrap;
}

.search__user__avatar {
  display: table-cell;
  vertical-align: middle;
}

.search__user__avatar__img {
  width: 40px;
}

.search__user__name {
  padding-left: 10px;
  display: table-cell;
  vertical-align: middle;
}

.search__user__tags {
  width: 150px;
}

.search__tag__item {
  margin-right: 5px;
  display: inline-block;
}

.search__question__container {
  background: #e3f2fd;
  position: fixed;
  top: 0;
  width: 50%;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: transform .6s;
}

.search__question__container.show {
  transform: translateX(0%);
}

.search__question__table-container {
  padding: 50px;
}

.search__question__close {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 35px;
  line-height: 35px;
  color: black;
}

.search__button__block {
  padding: 5px 12px;
}

.search__button__block:hover {
  background-color: #eee;
}

.loader {
}

.loader__spinner {
  width: 100px;
}

.search__table-navigation__directive:focus {
  background-color: #f5f5f5;
}