<div class="container">
  <div class="row">
    <h1 class="text-center">Stack overflow search</h1>
    <div class="col-sm-6 col-sm-offset-3">
      <form ng-submit="searchAction()">
        <div id="imaginary_container">
          <div class="input-group stylish-input-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="search_text">
              <span class="input-group-addon search__button__block">
                <button type="submit">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>