<div class="container">
  <div class="row">
    <div class="col-xs-12" ng-cloak>
      <h2 ng-bind-html="question.title | trust"></h2>
      <br>
      <p class="lead" ng-bind-html="question.body | trust"></p>
      <br>
      <h3>Answers</h3>
      <div>
        <div ng-if="answers.length === 0">No Results</div>
        <div class="panel panel-default" ng-repeat="answer in answers">
          <div class="panel-heading">
            <h3 class="panel-title"><span ng-bind-html="answer.owner.display_name | trust"></span>. Score {{answer.score}}</h3>
          </div>
          <div class="panel-body" ng-bind-html="answer.body | trust"></div>
        </div>
      </div>
    </div>
  </div>
</div>