<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <table class="table search__table__table" table-navigation>
        <thead>
          <tr>
            <th>
              <a href="" ng-click="onSortClick('display_name')">
                Author
                <span ng-show="sortType == 'display_name' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                <span ng-show="sortType == 'display_name' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
              </a>
            </th>
            <th>
              <a href="" ng-click="onSortClick('title')">
                Title
                <span ng-show="sortType == 'title' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                <span ng-show="sortType == 'title' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
              </a>
            </th>
            <th>
              <a href="" ng-click="onSortClick('answer_count')">
                Answers
                <span ng-show="sortType == 'answer_count' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                <span ng-show="sortType == 'answer_count' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
              </a>
            </th>
            <th>Tags</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="4" ng-if="loader">
              <div class="loader">
                <div><img class="img-responsive center-block loader__spinner" src="assets/img/spinner.gif"></div>
                <div class="text-center">Loading...</div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="4" ng-if="items.length === 0 && !loader">No results</td>
          </tr>
          <tr ng-repeat="item in items | orderBy:sortType:sortReverse track by $index">
            <td>
              <div class="search__table-navigation__directive" tabindex="-1">
                <a href="" ng-click="onAuthorClick(item.owner)">
                  <span class="search__user__avatar"><img class="search__user__avatar__img" ng-src="{{item.owner.profile_image}}"></img></span>
                  <span class="search__user__name"><b ng-bind-html="item.owner.display_name | trust"></b></span>
                </a>
              </div>
            </td>
            <td>
              <div class="search__table-navigation__directive" tabindex="-1">
                <a href="" ng-click="questAction(item.question_id)"><p ng-bind-html="item.title | trust"></p></a>
              </div>
            </td>
            <td>
              <div class="search__table-navigation__directive" tabindex="-1">
                <a href="" ng-click="questAction(item.question_id)">{{item.answer_count}}</a>
              </div>
            </td>
            <td>
              <div class="search__table-navigation__directive" tabindex="-1">
                <div class="search__user__tags">
                  <a href="" ng-click="onTagClick(tag)" ng-repeat="tag in item.tags">
                    <span class="label label-info search__tag__item">{{tag}}</span>
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="search__question__container" ng-class="{'show': quickQuestionTable.show}">
  <a href="" ng-click="onQuickQuestionTableClose()" class="search__question__close">&times</a>
  <h3 class="text-center" ng-cloak>5 questions by {{quickQuestionTable.title}}</h3>
  <div class="search__question__table-container">
    <table class="table">
      <thead>
      <tr>
        <th>
            Author
        </th>
        <th>
            Title
        </th>
        <th>
            Answers
        </th>
        <th>Tags</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4" ng-if="quickQuestionTable.loader">
            <div class="loader">
              <div><img class="img-responsive center-block loader__spinner" src="assets/img/spinner.gif"></div>
              <div class="text-center">Loading...</div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="4" ng-if="quickQuestionTable.data.length === 0 && !quickQuestionTable.loader">No results</td>
        </tr>
        <tr ng-repeat="item in quickQuestionTable.data track by $index">
          <td>
              <span class="search__user__avatar"><img class="search__user__avatar__img" ng-src="{{item.owner.profile_image}}"></img></span>
              <span class="search__user__name"><b ng-bind-html="item.owner.display_name | trust"></b></span>
          </td>
          <td><a href="" ng-click="questAction(item.question_id)"><p ng-bind-html="item.title | trust"></p></a></td>
          <td><a href="" ng-click="questAction(item.question_id)">{{item.answer_count}}</a></td>
          <td>
            <span class="label label-info search__tag__item"  ng-repeat="tag in item.tags">{{tag}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>